# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#directories
obj
bin
x64
Debug
Release
packages
.vs
.DS_Store

# Xcode
.DS_Store
*.xcuserstate
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# Archives
*.xcarchive

# Optional: CocoaPods
# Pods/ 
# Podfile.lock 